<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">testing</h2>
    <h2 class="collapsible__heading">second testing</h2>

    <span class="icon-container icon-container--collapsible">
      <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="../images/sprite.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis
    consequatur soluta cumque perferendis laborum inventore assumenda voluptates
    officia temporibus possimus.
  </div>
</div>
