<footer class="block block--dark" id="footer">
  <div class="container grid grid--1x2">
    <section class="footer__logo">
      <a class="nav__logo" href="/"
        ><img class="nav__logo__image" src="Images/logo.svg" alt=""
      /></a>
      <p class="footer__copywrite">Copywrite 2020 Jason Drexler</p>
    </section>

    <div class="footer__content">
      <section class="collapsible collapsible--expanded footer__item">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">Products</h2>
          <span class="icon-container icon-container--collapsible">
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="../images/sprite.svg#chevron"></use>
            </svg>
          </span>
        </header>
        <ul class="list collapsible__content">
          <li class="list__item"><a href="#"> Hosting</a></li>
          <li class="list__item">
            <a href="#">Free Automated WordPress</a>
          </li>
          <li class="list__item"><a href="#">migrations</a></li>
          <li class="list__item"><a href="#">domain names</a></li>
          <li class="list__item"><a href="#">monthly web hosting</a></li>
        </ul>
      </section>
      <section class="collapsible footer__item">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">company</h2>
          <span class="icon-container icon-container--collapsible">
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="../images/sprite.svg#chevron"></use>
            </svg>
          </span>
        </header>
        <ul class="list collapsible__content">
          <li class="list__item">
            <a href="#">about</a>
          </li>
          <li class="list__item"><a href="#">affiliates</a></li>
          <li class="list__item"><a href="#">blog</a></li>
          <li class="list__item"><a href="#">careers</a></li>
          <li class="list__item"><a href="#">community</a></li>
          <li class="list__item"><a href="#">news</a></li>
          <li class="list__item"><a href="#">green hosting</a></li>
        </ul>
      </section>
      <section class="collapsible footer__item">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">support</h2>
          <span class="icon-container icon-container--collapsible">
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="../images/sprite.svg#chevron"></use>
            </svg>
          </span>
        </header>
        <ul class="list collapsible__content">
          <li class="list__item"><a href="#"> contact</a></li>
          <li class="list__item">
            <a href="#">Free Automated WordPress</a>
          </li>
          <li class="list__item"><a href="#">knowledge base</a></li>
          <li class="list__item"><a href="#">forums</a></li>
          <li class="list__item"><a href="#">system status</a></li>
          <li class="list__item"><a href="#">web hosting</a></li>
          <li class="list__item"><a href="#">dreamCompute</a></li>
        </ul>
      </section>
      <section class="collapsible footer__item">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">domains</h2>
          <span class="icon-container icon-container--collapsible">
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="../images/sprite.svg#chevron"></use>
            </svg>
          </span>
        </header>
        <ul class="list collapsible__content">
          <li class="list__item"><a href="#"> domain checker</a></li>
          <li class="list__item">
            <a href="#">domain transfer</a>
          </li>
          <li class="list__item"><a href="#">free domain</a></li>
          <li class="list__item"><a href="#">xyz domain</a></li>
          <li class="list__item"><a href="#">cheap SSL certificate</a></li>
        </ul>
      </section>
    </div>
  </div>
</footer>
