<section class="block block--dark block--skewed-right block--showcase">
    <header class="block__header block--showcase__header">
      <h2>Beautifully designed layout</h2>
    </header>
    <div class="container grid grid--1x2">
      <picture class="block--showcase__image">
        <source
          type="image/webp"
          srcset="images/ipad@2x.webp 2x, images/ipad.webp 1x" />
        <source
          type="image/jpg"
          srcset="images/ipad@2x.jpg 2x, images/ipad.jpg 1x" />
        <img src="images/ipad.webp" alt=""
      /></picture>

      <ul class="list block--showcase__content">
        <li><div class="media">
          <div class="media__image">
            <span class="">
              <svg class="icon icon--primary">
                <use xlink:href="../images/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start and Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit,
              unde.
            </p>
          </div>
        </div></li>
        <li><div class="media">
          <div class="media__image">
            <span class="">
              <svg class="icon icon--primary">
                <use xlink:href="../images/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start and Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit,
              unde.
            </p>
          </div>
        </div></li>
        <li><div class="media">
          <div class="media__image">
            <span class="">
              <svg class="icon icon--primary">
                <use xlink:href="../images/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start and Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit,
              unde.
            </p>
          </div>
        </div></li>
      </ul>

  </section>